header {
  display: flex;
}

.nav {
  padding: 1rem;
  cursor: pointer;
  display: flex;
}

header div:hover {
  background-color: whitesmoke;
}

.active {
  font-weight: bold;
}
.small-text {
  font-size: small;
  padding-left: 0.5rem;
}
