<header>
  <div class="nav" routerLink="/map-component" routerLinkActive="active">
    Map
  </div>
  <div class="nav" routerLink="/bands" routerLinkActive="active">Bands</div>
  <div class="nav" routerLink="/bands-api" routerLinkActive="active">
    <div>STAC API</div>
    <div class="small-text">random image from backend</div>
  </div>
  <div class="nav" routerLink="/bands-odata" routerLinkActive="active">
    OData API
  </div>
  <div class="nav" routerLink="/ol-stac" routerLinkActive="active">
    <div>STAC API</div>
    <div class="small-text">using ol-stac lib</div>
  </div>
  <div class="nav" routerLink="/time" routerLinkActive="active">Time</div>
  <div class="nav" routerLink="/other" routerLinkActive="active">
    <div>STAC</div>
    <div class="small-text">with thumbnails</div>
  </div>
  <div class="nav" routerLink="/sentinel" routerLinkActive="active">
    <div>Sentinel</div>
    <div class="small-text">Processing API</div>
  </div>
</header>
