<div id="map" class="map" (click)="logCoordinates($event)"></div>

<form [formGroup]="channelsForm">
  <div class="control-group">
    <label for="red">Red channel:</label>
    <select formControlName="redChannel" id="red">
      <option value="1">visible red</option>
      <option value="2">visible green</option>
      <option value="3">visible blue</option>
      <option value="4">near infrared</option>
    </select>
  </div>

  <div class="control-group">
    <label for="green">Green channel:</label>
    <select formControlName="greenChannel" id="green">
      <option value="1">visible red</option>
      <option value="2">visible green</option>
      <option value="3">visible blue</option>
      <option value="4">near infrared</option>
    </select>
  </div>

  <div class="control-group">
    <label for="blue">Blue channel:</label>
    <select formControlName="blueChannel" id="blue">
      <option value="1">visible red</option>
      <option value="2">visible green</option>
      <option value="3">visible blue</option>
      <option value="4">near infrared</option>
    </select>
  </div>
</form>
